{% extends "base.html" %}

{% block content %}
    <h10> И на Марсе будут яблони цвести! </h10>
     {% if 'инженер' in prof %}
            <h3> Инженерные тренажеры </h3>
            <img src="/static/img/MARS-1.png" alt="здесь должна была быть картинка, но не нашлась">
     {% elif 'строитель' in prof %}
            <h3> Инженерные тренажеры </h3>
            <img src="/static/img/MARS-1.png" alt="здесь должна была быть картинка, но не нашлась">
     {% else %}
            <h3> Научные симуляторы </h3>
            <img src="/static/img/MARS-2.png" alt="здесь должна была быть картинка, но не нашлась">
     {% endif %}
{% endblock %}